*{
    margin: 0;
}
#topBar{
    display: flex;
    justify-content: center;
    background-color: #007bff;
    color: #fff;
}

.container{
    width: 1440px;
}

.row{
    display: flex;
}
.col-6{
    width: 50%;
}   

.text-white{
    color:#fff;
}
.text-right{
    text-align: right;
}