.dil-link {
    display: inline-block; /* veya sadece inline da olabilir */
    text-decoration: none; /* altı çizgiyi kaldırır */
    margin-right: 10px;    /* aralarına boşluk koyar */
    margin-top: 30px;
    color: #fff;        /* isteğe bağlı: mavi renk */
    background-color: blue;
    padding: 2px 20px 40px 80px;
    border-radius: 0px;
}
.dil-link:hover
{
background-color: rgb(110, 70, 70);
transform: scale(1.50);

}